# Ignore Node.js generated folders
node_modules/

# Ignore Node.js generated folders in frontend
frontend/node_modules/

# Ignore Node.js generated folders in backend
backend/node_modules/
# keys
backend/keys.js
